.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.button{
  height: 5vmin;
  width: 10vmin;
  background-color:black;
  color:white;
}

.move{
  position:fixed;
  left: 30px;
  top: 10px;
}

.buttonClass{
  background-color: #1d1d1d;
  width: 30vmin;
  height:5vmin;
}

#buy{
  margin-left: -18vmin;
  width: 5.5vmin;
}

.verify{
  margin-top:-4.3vmin;
  margin-left:-6vmin;
}